
.top-deals{
    display: flex;
    justify-content:space-between;
}
.surprise-button {
    margin-right: 20px;
    margin-bottom: 10px;
    color: white;
    background-color: deeppink;
    background-image: none;
    border-color: deeppink;
  }
  .surprise-button:hover {
    color: #fff;
    background-color: deeppink;
    border-color: deeppink;
  }
#cheapest-locations{
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    width: 265px;
    height: 320px;
    margin: 0px;    
    border: 0px;
    border-radius: 10px; 
}
.diy_container{
   margin: 50px;
}
.diy_container h1{
    font-weight:bold; 
    font-size:200%;
    margin-top: 20px;
    margin-left: 30px;
}
.deep-pink{
    color: deeppink;
    
}

.around-the-world{
    margin: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
    
    text-align: center;
    
    
}
.around-the-world-text{
    padding: 20px;
  
}
.around-the-world-text span, .diy_container span{
    color: deeppink;
    display: inline-block;
    border-bottom:3.5px solid transparent; 
    transition: border-bottom 1.5s ease; 

}
.around-the-world-text span:hover{
    border-bottom: 3.5px solid deeppink; 
}
.around-the-world-text p{
    font-weight: 900;
    font-size: 270%;
}

.continent_buttons {
    display: flex;
    margin: 20px;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 0;
}


.location_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#home_continents {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 320px;
    
    margin: 20px;
    margin-bottom: 0px;
    
    border: 0px;
    border-radius: 15px;
    align-items: center;
    border-color: brown;
}

#location-name:hover{
    color: deeppink;
}

#continent_locations {
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    margin: 20px;
    margin-left: 0;
    border: 0px;
    border-radius: 15px;
    justify-content: flex-end;
    align-items: center;
    border-color: brown;
    
}


.continent-country-info span {
    display: flex;
    justify-content: center;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

.filter-button{
    background-color: aqua;
    
    align-items: center;
    margin-top: 20px;
}
.continent-country-info{
    margin-top: 10px;
    color:	#5A5A5A;
}
a:link {
    text-decoration: none;
    
    }
a:target-text{
    color: white;
}

.why-choose-us-section-1, .why-choose-us-section-2, .why-choose-us-section-3{
    margin: 20px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.why-choose-us-section-1{
    margin-top: 80px;
}
.why-choose-us-section-2, .why-choose-us-section-3{
    margin-top: 100px;
}

.header-text{
    text-align: center; 
       
}
.header-text p{
    font-weight: 900;
    font-size: 270%;
}
.header-info{
    margin: 30px;
    display: flex;
    gap: 150px;
    justify-content: space-between;
    text-align: center;
}
.header-info h2{
    text-align: center;
    font-weight:bold; 
    font-size:200%;
}
.header-info  p{
    word-wrap: break-word; /* Prevent paragraph text from spreading out */
    max-width: 300px; 
}