.hero{
    margin: 0;
    padding: 0;
    height: 80vh;

}
.hero-image {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../images/hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
}
.hero-text{
    color: white;
    margin-top: 25px;
    margin-right: 25px;
    
   
}
.hero-text h5{
    font-family: 'Calibri';
    width: 100px;
    height: 50px;
    transition: width 2.5s;
    font-weight: bold;
    
}
.hero-text a{
    color: white;
}
.hero-text h5:hover{
    
    width: 300px;
    height: 75px;
    font-size: 150%;
    
}

#cheapest-locations{
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    width: 265px;
    height: 320px;
    margin: 0px;
    
    border: 0px;
    border-radius: 10px; 
}
.diy_container{
   margin: 50px;
}
#best-deals{
    margin-top: 20px;
    margin-left: 30px;
    
}

.home-page-image{
    margin: 100px;
    height: 90vh;

}
#home-page-image-1 {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('../images/home-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
    
}

.around-the-world{
    margin: 200px;
    margin-top: 80px;
    margin-bottom: 80px;
    
    text-align: center;
    
    
}
.around-the-world-text{
    padding: 20px;
  
}
.around-the-world-text span{
    color: deeppink;
    display: inline-block;
    border-bottom:3.5px solid transparent; /* Initially, no underline */
    transition: border-bottom 1.5s ease; /* Add a smooth transition */

}
.around-the-world-text span:hover {
    border-bottom: 3.5px solid deeppink; /* Underline on hover */
}
.around-the-world-text p{
    font-weight: 900;
    font-size: 270%;
}

.continent_buttons {
    display: flex;
    margin: 20px;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    
    margin: 0;
}


.location_button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#home_continents {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 280px;
    height: 320px;
    
    margin: 20px;
    margin-bottom: 0px;
    
    border: 0px;
    border-radius: 15px;
    align-items: center;
    border-color: brown;
}

#location-name:hover{
    color: deeppink;
}

#continent_locations {
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    margin: 20px;
    margin-left: 0;
    border: 0px;
    border-radius: 15px;
    justify-content: flex-end;
    align-items: center;
    border-color: brown;
    
}


span {
    display: flex;
    justify-content: center;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
}

.filter-button{
    background-color: aqua;
    
    align-items: center;
    margin-top: 20px;
}
.info{
    margin-top: 10px;
    color:	#5A5A5A;
}
a:link {
    text-decoration: none;
    
    }
a:target-text{
    color: white;
}

.why-choose-us-section{
    margin: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.header-text{
    text-align: center;
    
       
}
.header-text p{
    font-weight: 900;
    font-size: 270%;
}
.header-info{
    margin: 30px;
    display: flex;
    gap: 150px;
    justify-content: space-between;
    text-align: center;
}
.header-info h2{
    text-align: center;
    font-weight:bold; 
    font-size:200%;
}
.header-info  p{
    word-wrap: break-word; /* Prevent paragraph text from spreading out */
    max-width: 300px; 
}