.location_images {
    display: flex;
    justify-content: center; /* Center the images horizontally */
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap; /* Wrap images to a new line if they exceed the container width */
  }
  
  .location-image {
    width: 325px;
    height: 220px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 15;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  