<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Aimless: Beyond Boundaries</title>
    <link rel="icon" type="image/png" href="{% static 'images/Logo.png' %}">
    <link href="https://fonts.cdnfonts.com/css/orange-juice-4" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"> 
    


    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    {% include 'navbar.html' %}
    
        {% block content %}
        {% endblock content %}

    {% include 'footer.html'%}
    
</body>

</html>
