<nav class="navbar navbar-expand-lg bg-bg-body-tertiary  border-bottom border-bottom-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}" style="font-family: 'Orange Juice'; font-size: 30px; ">Aimless</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <li class="nav-item">
          <form class="d-flex" role="search" method="GET" action="{% url 'search-result' %}">
            <input class="form-control me-2" type="search" name="q" placeholder="Search Locations..." aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </li>         
                       
      </ul>
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'surprise' %}">Surprise-Me!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bucket-list' user.id%}">Bucket-List</a>
        </li>
        
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        {% endif %}
       {%if user.is_authenticated%}
       <li class="nav-item">
        <a class="nav-link" href="{% url 'user-profile' %}">{{user.username}}</a>
       </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
       {%else%}
       <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
      
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {%endif%}
      </ul>
      
    </div>
    
  </div>
</nav>
