{% extends 'main.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/slick.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">

<script type="text/javascript" src="{% static 'js/code.jquery.com_jquery-3.7.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/my.js' %}"></script>

<div class='hero'>
    <div class='hero-image'>
        <div class="hero-text">
            <h5 style="font-family: 'Cornerstone','Oswald';">Your Next Destination</h5>
        </div>
    </div>        
</div>    


 <div class="diy_container">
    <h1 id="best-deals"> Best Deals </h1>
   <center> <div class="d-flex cheapest-location-slider " >
        {% for location in locations %}
        <div>
            <a href="{% url 'location' location.id %}">
                <button id="cheapest-locations" style="background-image: url({{location.location_display_image.url}});"></button> 
                <br>
                <span>
                    {{location.name}} <a href="{% url 'country-locations' location.country.id %}">
                        <img src="{% static 'images/location.png' %}" width="12" height="16">
                        <small>{{location.country}}</small>
                    </a>
                </span>
                
                
                <div class='info'>
                    <small> Starts From</small> <strong>BDT {{location.price}}</strong><small> /person</small>
                </div> 
            
            </a>
    
        </div>
        {% endfor %}
    </center>
</div>


<br>

<center><h1 style="font-family: 'Oswald';">Around the World!</h1></center>

<div class="continent_buttons">
    
    {% for continent in continents %}
    <div>
        <a href="{% url 'continent-locations' continent.id %}">
            {% if continent.name == 'ASIA' %}
                <button id="home_continents" style="background-image: url('/static/images/button/asia.jpg');"></button>
            {% elif continent.name == 'EUROPE' %}
                <button id="home_continents" style="background-image: url('/static/images/button/europe.jpg');"></button>
            {% elif continent.name == 'AFRICA' %}
                <button id="home_continents" style="background-image: url('/static/images/button/africa.jpg');"></button>
            {% elif continent.name == 'AUSTRALIA' %}
                <button id="home_continents" style="background-image: url('/static/images/button/australia.jpg');"></button>
            {% elif continent.name == 'NORTH AMERICA' %}
                <button id="home_continents" style="background-image: url('/static/images/button/north_america.jpg');"></button>
            {% elif continent.name == 'SOUTH AMERICA' %}
                <button id="home_continents" style="background-image: url('/static/images/button/south_america.jpg');"></button>
            {% elif continent.name == 'ANTARCTICA' %}
                <button id="home_continents" style="background-image: url('/static/images/button/antarctica.jpg');"></button>
            
            {% endif %}
            <div class='info'>
                <center><img loading="lazy" src={%static 'images/package.svg'%} alt="" class="icon mr-2"><small> {{ continent.num_locations }} packages available</small></center>
                <span>{{ continent.name }}</span>      
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next vacation.</p>
    <form action="/action_page.php" target="_blank">
        <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
        <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
        <button class="w3-button w3-black w3-section" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
    </form>
</div>


{% endblock %}
