{%extends 'main.html'%}
{%block content%}

{%if page == 'login'%}
<br>

<div>
   <form method= 'POST' action= ''>
        {% csrf_token %}
        <label>Username:</label>
        <input type="text" name= 'username' placeholder="Enter Username..."/> </p>
        <label>Password:</label>
        <input type = 'password' name= 'password' placeholder="Enter Password..."/>
        <input type="submit", value="Login"/>

   </form>
</div>
{%else%}
   <div>
      <form method="POST" action=''>
         {% csrf_token %}
         {{form.as_p}}
         <input type='submit' value='Register'>
      </form>
      
   </div>

{%endif%}

{%endblock content%}