{% extends 'main.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href={% static 'css/home.css'%}>

<div class="location_button">
    {% for location in locations%}
    <div>
        <a href="{% url 'location' location.id %}">
            <button id="continent_locations" style="background-image: url({{location.location_display_image.url}});"></button>
             <br><span>{{location.name}} -<a href ={%url 'country-locations' location.country.id%}><img src={% static 'images/location.png'%} width='12' height='16'  > <small>{{location.country}}</small></span></a>
        </a>
    </div>
    {%endfor%}

</div>
{% endblock %}
